    <header class="nav">
      <h1>Chestnut Lane</h1>
      <ul>        
      <li><%= link_to "Home", root_path %></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Help</a></li>
      </ul>   
      
    </header>